.display {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.display2 {
    width: 500px;
}

.padding {
    margin-left: 40px;
}

.bio {
    position: absolute;
    margin-top: 300px;
    width: 45%;
    height: 20%;
    margin-left: 50%;
}